.titulo {
    display: flex;
    padding-right: 10px;
    padding: 4px;
    position: relative;
    top: -22px;
}

.titulo__dev {
    margin-right: 28%;
    display: flex;
    margin-left: 20px;
}

.titulo__logo {
    width: 100px;
    margin-top: -15px;
    margin-right: -80px;
    margin-left: 90px;
}

/* .titulo__jp {
    margin-top: 52px;
    margin-left: -12px;
} */

.titulo , .titulo__link  , .titulo__email{
    margin-left: 29px;
    margin-top: 40px;
    color: #262626;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.titulo__link {
    margin-left: 20px;
    padding: 0;
}

.titulo__email {
    color: #000000;
    font-weight: bold;
}

.titulo__email, nav {
    margin-top: 30px;
}

.titulo__email:hover {
    margin-bottom: 40px;
    background-color: rgb(235, 223, 223);
}  

.titulo__link:hover {
   background-color: rgb(235, 223, 223); 
   font-weight: bold;
   font-size: 18px;
}

/* @media screen and (min-width: 0px) {
    nav {
        display: none;
    }
    .titulo__dev {
        margin-top: -9px;
        margin-left: -110px;
        padding-left: 20vw;
        width: 40vw;
        justify-content: space-around;
    }

    .titulo {
        display: flex;
    }

    .titulo__email {
        text-align: center;
        font-size: 14px;
        width: 60vw;
        margin-right: 30px;

    }
} */

/* @media screen and (max-width: 290px) {
    .titulo__dev {
        margin-left: -120px;
    }
    .titulo__email {
        margin-left: 141px;
    }
} */

/* @media screen and (max-width: 280px) {
    .titulo {
        display: block;
    }
    .titulo__dev {
        margin-left: 50px;
        
    }
    .titulo__email {
        margin-top: 6px;
        margin-left: 95px;
    }
} */