@media screen and (max-width: 1220px) {
    nav {
        display: none;
    }
    .titulo__logo {
        margin-left: -20px;
    }
    .titulo__email {
        margin-left: 400px;
    }
}

@media screen and (max-width: 940px) {
    .titulo__email {
        margin-left: 330px;
    }
}

@media screen and (max-width: 840px) {
    .titulo__email {
        margin-left: 280px;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .titulo__logo {
       width: 130px;
    }
    
    .titulo__email {
        margin-left: 185px;
        margin-top: 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 680px) {
    .titulo__logo {
        margin-left: -18px;
        width: 100px;
    }

    .titulo__email {
        margin-left: 100px;
    }
}

@media screen and (max-width: 575px) {
    .titulo__email {
        margin-left: 80px;
    }
}

@media screen and (max-width: 500px) {
    .titulo__logo {
        margin-left: 4px;
    }
    
    .titulo__email {
        margin-left: -4px;
    }
}


/* Mobile */

@media screen and (max-width: 390px) {
    .titulo__logo {
        margin-left: -24px;
    }
    
    .titulo__email {
        margin-left: 2px;
        font-weight: normal;
        font-size: 14px;
    }
}