@media screen and (max-width: 1220px) {
    nav {
        display: none;
    }
    .titulo__logo {
        margin-left: -20px;
    }
    .titulo__email {
        margin-left: 400px;
    }
}

@media screen and (max-width: 940px) {
    .titulo__email {
        margin-left: 330px;
    }
}

@media screen and (max-width: 840px) {
    .titulo__email {
        margin-left: 280px;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .titulo__logo {
       width: 110px;
       margin-left: -43px;
    }
    
    .titulo__email {
        margin-left: 220px;
        margin-top: 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .titulo__logo {
        margin-left: -35px;
        width: 100px;
    }

    .titulo__email {
        margin-left: 210px;
    }
}

@media screen and (max-width: 660px) {
    .titulo__logo {
        margin-left: -42px;
        width: 100px;
    }
    .titulo__email {
        margin-left: 180px;
    }
}

@media screen and (max-width: 610px) {
    .titulo__email {
        margin-left: 100px;
    }
}

@media screen and (max-width: 500px) {
    .titulo__email {
        margin-left: 60px;
    }
}

@media screen and (max-width: 450px) {
    .titulo__email {
        margin-left: 40px;
    }
}

@media screen and (max-width: 415px) {
    .titulo__email {
        margin-left: 20px;
    }
}

/* Mobile */

@media screen and (max-width: 390px) { 
    .titulo__email {
        margin-left: 10px;
        font-weight: normal;
        font-size: 14px;
    }
}