.experiencia__Pe--titulo {
    color: #464646;
    text-align: center;
    padding-top: 10px;
    font-size: 23px;
}

.experiencia__Pe {
    padding: 30px;
    display: flex;
    margin-left: 11%;
    margin-right: 11%;
 }

 .experencia__Pe--conteudo {
    display: flex;
    padding-top: 10px;
    text-align: center;
    background-color: #fab0e1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 71%;
    height: 230px;
    margin-right: 16px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
}

.experencia__Pe--descricao {
    width: 100px;
    color: #000000;
}

.experencia__Pe--conteudo:hover {
    width: 80%;
    height: 240px;
    cursor: pointer;
    background-color: #fab0e1;
}