.sobreMim {
    background-color: #EAF2FD;
    height: 402px;
    margin-top: 26px;
    width: 100%;
    margin-bottom: 10px;
}

.sobreMim__text {
    margin-left: 170px;
    color: #464646;
    width: 645px;
    text-align: justify;
    padding-top: 1px;
}

.sobreMim__text , h1 {
    font-size: 32px;
    margin-top: 29px;
    font-size: bold;
}

.sobreMim__text , p {
    font-size: 17px;
    margin-top: 16px;
    line-height: 22px;
}