
@media screen and (max-width: 1220px) {
    .apresentacao__info {
        margin-left: 32px;
        margin-right: -82px;
        margin-top: -20px;
    }
    
    .logo__apresentacao {
        width: 210px;
        height: 210px;
        margin-left: 230px;
    }
  
 }
 
  @media screen and (max-width: 1080px) {
    .apresentacao__info {
        margin-right: -92px;
        margin-top: -20px;
        width: 59%;
    }
    
    .logo__apresentacao {
        width: 190px;
        height: 190px;
        margin-left: 190px;
    }
  
 } 
 
 @media screen and (max-width: 950px) {
    .apresentacao__info {
        width: 62%;
    }
    
    .logo__apresentacao {
        width: 170px;
        height: 170px;
    }
 }
    @media screen and (max-width: 770px) {
        .apresentacao__info {
            width:72%;
        }
        
        .logo__apresentacao {
            width: 170px;
            height: 170px;
            margin-left: 170px;
        }
    
 } 

 @media screen and (max-width: 630px) {
    .apresentacao__info {
        margin-top: 110px;
        width: 2500px;
        margin-right: -160px;
    }
    
    .logo__apresentacao {
        width: 140px;
        height: 140px;
        margin-left: -520px;
    }

} 

@media screen and (max-width: 600px) {
    .apresentacao__info {
        width: 2600px;
    }
    
    .logo__apresentacao {
        margin-left: -490px;
    }

} 

@media screen and (max-width: 565px) {
    .apresentacao__info {
        width: 2290px;
        margin-right: -220px;
    }
    
    .logo__apresentacao {
        margin-left: -460px;
    }

} 

@media screen and (max-width: 540px) {
    .apresentacao__info {
        width: 2290px;
        margin-right: -220px;
    }
    
    .logo__apresentacao {
        margin-left: -420px;
    }

} 

@media screen and (max-width: 500px) {
    
    .logo__apresentacao {
        margin-left: -340px;
    }

} 

@media screen and (max-width: 400px) {
    .apresentacao__info {
        width: 2290px;
        margin-right: -270px;
    }
    .logo__apresentacao {
        margin-left: -280px;
    }

} 

@media screen and (max-width: 340px) {
    .apresentacao__info {
        width: 2290px;
        margin-right: -310px;
    }
    .logo__apresentacao {
        margin-left: -220px;
    }

} 