@media screen and (max-width: 1220px) {
    .apresentacao__info {
        margin-left: 32px;
        margin-right: -162px;
        margin-top: -20px;
        width: 700px;
    }
    
    .logo__apresentacao {
        width: 180px;
        height: 180px;
        margin-left: 230px;
    }
  
 }

 @media screen and (max-width: 1020px) {
    .apresentacao__info {
        width: 630px;
    }
}

@media screen and (max-width: 940px) {
    .apresentacao__info {
        width: 570px;
    }
    .logo__apresentacao {
        width: 165px;
        height: 165px;
    }
}

@media screen and (max-width: 840px) {
    .apresentacao__info {
        width: 520px;
    }
    .logo__apresentacao {
        width: 150px;
        height: 150px;
    }
    
    .apresentacao__info h1 { 
        font-size: 22px;
        font-weight: bold;
    }
    .apresentacao__info p {
        font-size: 16px;
    }
    .links a {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .apresentacao__info {
        width: 450px;
        margin-left: 12px; 
    }
    .links a{
        font-size: 14px;
    }
    .arrow {
        width: 14px;
    }
}

@media screen and (max-width: 700px) {
    .apresentacao__info {
        width: 400px;
    }
}

@media screen and (max-width: 660px) {
    .apresentacao__info {
        width: 380px;
    }
    .links a {
        padding-right: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 610px) {
    .apresentacao__info {
        margin-top: 70px;
        width: 535px;
        margin-left: -11px;
    }
    .logo__apresentacao {
        width: 120px;
        height: 120px;
        margin-top: -29px;
    }
    .apresentacao__logo {
        margin-left: -580px;
    }
}

@media screen and (max-width: 530px) {
    .apresentacao__info {
        
        width: 500px;
        margin-left: -11px;
    }
    .apresentacao__logo {
        margin-left: -550px;
    }
}

@media screen and (max-width: 500px) {
    .apresentacao__info {
        width: 450px;
    }
    .apresentacao__logo {
        margin-left: -500px;
    }
}

@media screen and (max-width: 450px) {
    .apresentacao__info {
        width: 420px;
    }
    .apresentacao__logo {
        margin-left: -470px;
    }
}

@media screen and (max-width: 415px) {
    .apresentacao__info {
        width: 380px;
    }
    .apresentacao__logo {
        margin-left: -420px;
    }
}

/* Mobile */

@media screen and (max-width: 390px) {
    .apresentacao__info {
        width: 360px;
    }
    .apresentacao__logo {
        margin-left: -400px;
    }
    .links a {
        padding-right: 15px;
    }
}

@media screen and (max-width: 360px) {
    .apresentacao__info {
        width: 335px;
    }
    .apresentacao__logo {
        margin-left: -380px;
    }
    .links a {
        padding-right: 5px;
    }
}

@media screen and (max-width: 330px) {
    .apresentacao__info {
        width: 315px;
    }
    .apresentacao__logo {
        margin-left: -340px;
    }
}