@media screen and (max-width: 1020px) {
    .experiencia__Pe {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .experencia__Pe--conteudo {
        margin-bottom: 30px;
        width: 75%;
    }
}

/* Mobile */

@media screen and (max-width: 630px) {
    .experencia__Pe--conteudo {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .experencia__Pe--conteudo {
        width: 90%;
    }
}

@media screen and (max-width: 415px) {
    .experiencia__Pe--titulo {
        font-size: 18px;
    }

    .experiencia__Pe {
        margin-left: 5%;
        margin-right: 5%;
    }
}