@media screen and (max-width: 870px) {
    .hobbies__titulo {
        font-size: 22px;
    }
    .hobbies__conteudo {
    flex-wrap: wrap;
    }
    .hobbies__conteudo--base {
        width: 45%;
    }
    .icone {
        width: 50px;
        height: 70px;
    }
}

@media screen and (max-width: 574px) {
    .hobbies__conteudo {
        margin-left: 5%;
        margin-right: 2%;
    }
}

/* Mobile */

@media screen and (max-width: 345px) {
    .hobbies__conteudo {
        margin-left: 12%;
        margin-right: -12%;
    } 
    .hobbies__conteudo--base {
        width: 39%;
    } 
}