@media screen and (max-width: 870px) {
    .skills__titulo {
        font-size: 22px;
    }

    .skills__conteudo {
        flex-wrap: wrap;
        margin-left: 7%;
        margin-right: 7%;
    }

    .skills__conteudo--base {
        width: 30%;
        font-size: 16px;
    }

    .icone {
        width: 50px;
        height: 70px;
    }
}

@media screen and (max-width: 574px) {
    .skills__conteudo {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 527px) {
    .skills__conteudo {
        margin-right: 0%;
    }

    .skills__conteudo--base {
        width: 45%;
    }

    .icone {
        width: 40px;
        height: 60px;
    }
}

/* Mobile */

@media screen and (max-width: 390px) {
    .skills__conteudo--base {
        width: 45%;
    }

    .icone {
        width: 20px;
        height: 25px;
    }
}

@media screen and (max-width: 330px) {
    .skills__conteudo--base {
        width: 42%;
    }

    .icone {
        width: 20px;
        height: 25px;
    }
}