@media screen and (max-width: 1220px) {
    .sobreMim {
        height: 300px;
    }
    .sobreMim__text {
        margin-left: 62px;
        width: 920px;
    }
}

@media screen and (max-width: 1030px) {
    .sobreMim {
        height: 330px;
    }
    .sobreMim__text {
        width: 880px;
    }
}

@media screen and (max-width: 950px) {
    .sobreMim__text {
        width: 780px;
    }
}

@media screen and (max-width: 870px) {
    .sobreMim {
        height: 340px;
    }

    .sobreMim__text {
        width: 680px;
    }

    .sobreMim_text,
    h1 {
        font-size: 22px;
    }

    .sobreMim_text,
    p {
        font-size: 14px;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .sobreMim {
        height: 360px;
    }
    .sobreMim__text {
        width: 620px;
        margin-left: 39px;
    }
}

@media screen and (max-width: 700px) {
    .sobreMim {
        height: 405px;
    }
    .sobreMim__text {
        width: 530px;
        /* margin-left: 38px; */
    }
}

@media screen and (max-width: 610px) {
    .sobreMim {
        margin-top: -1px;
    }

    .sobreMim__text {
        width: 500px;
        margin-left: 22px;
    }
}

@media screen and (max-width: 530px) {
    .sobreMim {
        height: 430px;
    }
    .sobreMim__text {
        width: 460px;
    }
}

@media screen and (max-width: 500px) {
    .sobreMim {
        height: 485px;
    }

    .sobreMim__text {
        width: 415px;
    }
}

@media screen and (max-width: 465px) {
    .sobreMim {
        height: 470px;
    }

    .sobreMim__text {
        width: 405px;
    }
}

@media screen and (max-width: 435px) {
    .sobreMim {
        height: 535px;
    }

    .sobreMim__text {
        width: 345px;
    }
}

/* Mobile */

@media screen and (max-width: 390px) {
    .sobreMim {
        height: 580px;
    }

    .sobreMim__text {
        width: 330px;
    }
}

@media screen and (max-width: 360px) {
    .sobreMim {
        height: 730px;
    }

    .sobreMim__text {
        width: 305px;
    }
}