.livros__titulo {
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-top: 25px;
    width: 100%;
    height: 6vh;
    background-color: rgb(203, 203, 197);
}