main {
    height: 720px;
    margin-right: 0px;
    background-color: rgb(217, 217, 228);
}

.containerLivros{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    font: 'arial';
}

.containerIMG {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 220px auto;
    height: 290px;
    border: 2px solid rgb(235, 48, 48);
}

.devocional1 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.resumo {
    margin: 22px 18px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.resumo span {
    font-weight: bold;
}

.btn__donw1 {
    display: block;
    font-size: 16px;
    background-color: rgb(92, 64, 64);
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 6px;
    align-items: center ;
    width: 150px;
    text-align: center;
}

.btn__donw1:hover {
    color: rgb(212, 199, 95);
    font-size: 18px;
    padding: 7px;
}



/* @media screen and (min-width: 500px) {
.livros__titulo {
    font-size: 22px;
    font-weight: bold;
    padding-top: 25px;
    background-color: rgb(159, 159, 24);
}
} */