main {
    height: 79vh;
    margin-right: 0px;
    background-color: rgb(217, 217, 228);
}

.containerLivros{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.containerIMG {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 230px;
    height: 270px;
}

.devocional1 {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.btn__donw1 {
    display: block;
    font-size: 20px;
    background-color: rgb(92, 64, 64);
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px;
    align-items: center ;
    width: 150px;
    text-align: center;
}

.btn__donw1:hover {
    color: rgb(212, 199, 95);
    font-size: 22px;
    padding: 10px;
}



/* @media screen and (min-width: 500px) {
.livros__titulo {
    font-size: 22px;
    font-weight: bold;
    padding-top: 25px;
    background-color: rgb(159, 159, 24);
}
} */