.emConstrucao {
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin-top: 10%;
}

.emConstrucao h1 {
    font-size: 24px;
      text-align: center;
      color: #333333;
      padding-bottom: 20px;
}


/* Conteúdo oficial */

.off {
    display: none;
}

.apresentacao {
  display: flex;
  margin-top: 17px;
}

.apresentacao__info {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
    margin-left: 140px;
    margin-right: 30px;
    flex-wrap: wrap;
    width: 50%;
}

.apresentacao__info h1 {
    color: #303030;
    font-size: 37px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin-left: 27px;
    font-size: bold;
}

.apresentacao__info p {
    margin-top: 22px;
    margin-left: 27px;
    color: #464646;
    font-size: 22px;
    text-align: justify;
}

.links {
    margin-top: 26px;
    text-align: left;
    margin-left: 32px;
}

.links a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding-right: 30px;
}

.apresentacao__logo {
    width: 30%;
}

.logo__apresentacao {
    width: 300px;
    border-radius: 50%;
    height: 300px;
    /* margin-right: 150px; */
}

/* Responsivo */




@media screen and (max-width: 450px) {
   .apresentacao {
    display: flex;
    margin-top: -80px;
   }

   .logo__apresentacao {
    width: 125px;
    height: 125px;
    margin-top: 70px;
    margin-left: -220px;
    order: -1;
   }

   .apresentacao__info  h1 {
     font-size: 22px;
     margin-top: 163px;
     font-weight: bold;
     margin-left: -110px;
     margin-right: -60px;
   }

   .apresentacao__info  p {
    font-size: 16px;
    margin-top: 20px;
    margin-left: -110px;
    margin-right: -65px;
  }
  .links {
    display: flex;
    margin-left: -110px;
    font-size: 14px;
  }
}

@media screen and (max-width: 290px) {
    .logo__apresentacao {
        margin-top: 70px;
        margin-left: -150px;
       }
       .apresentacao__info  h1 {
         margin-top: 163px;
         margin-left: -110px;
         margin-right: -134px;
       }
    
       .apresentacao__info  p {
        margin-top: 20px;
        margin-left: -110px;
        margin-right: -135px;
      }
      .links {
        margin-left: -110px;
      }
}

/* @media screen and (max-width: 280px) {
   
} */
