.contato {
    background-color: #EAF2FD;
    width: 100%;
    height: 550px;
}

.contato__conteudo {
    display: flex;
    margin-top: 20px;
    height: 300px;
    margin-left: 11%;
    margin-right: 18%;
}

.img__contato {
    width: 500px;
    height: 520px;
    margin-left: 3%;
    margin-right: 2%;
}

.contato__container {
    margin-right: -5%;
}

.contato__titulo {
    color: #464646;
    display: block;
    margin-top: -4%;
    font-size: 32px;
    font-weight: bold;
}

.contato__descricao {
    margin-top: 16px; 
    color: #464646;
}

.space {
    margin-top: -12px;
}

input {
    background-color: white;
    border: none;
    display: flex;
    width: 452px;
    height: 45px;
    margin-top: 10px;
}

/* Define a cor da borda quando está em foco */
/* input:focus {
    border: 3px solid rgb(240, 240, 102) !important; 
}  */

.mensagem {
    height: 130px;
}

.btn__contato {
    background-color: #2A7AE4;
    color: #FFFFFF;
    font-size: 16px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin-top: 39px;
}